CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_AUTOFS4_FS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_FANOTIFY=y
CONFIG_SECURITYFS=y
# CONFIG_ANDROID_PARANOID_NETWORK is not set
CONFIG_PANIC_TIMEOUT=5
# CONFIG_LTO_CLANG is not set
